 <tr>
<td><%= visual.description %></td>
<td><%= link_to 'Show', visual %></td>
<td><%= link_to 'Edit', edit_visual_path(visual) %></td>
<td><%= link_to 'Delete', visual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>