<h1>Listing visuals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>

<tbody>
  <%= render @visuals %>
</tbody>
</table>

<br />

<%= link_to 'New Visual', new_visual_path %>
