<h1>About</h1>
<p>
	<%= link_to "Visual Vibez", "http://visualvibez.com" %> is an application that will allow people to experience new forms of music and art from online. This is the sample application. 
</p>