/* I could change the font*/
/**$baseFontFamily: 'Josefin Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);*/

$btnPrimaryBackground: red;
$nabarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}